<!DOCTYPE 
<html>
    <head>
        <title>Golden stsate line up</title>
        <link rel="stylesheet" href="assets/styles/syles.css">
        
    </head>
<body>
    
    <div>
        <img src="/assets//images/Golden-State-Warriors-logo.png" alt="" width="400" height="200">
    </div>

    
    <div>    
        <img src="/assets//images/Stephen_Curry_Shooting.jpg" alt="Nba Basketball Player" width="200" height="400">    
     <span><a href="https://en.wikipedia.org/wiki/Stephen_Curry">More Details About Stephen Curry</a></span>   <a href="https://en.wikipedia.org/wiki/Stephen_Curry">More Details About Stephen Curry</a>           
    </div>
   
    
    <div>
        <img src="/assets/images/Klay-Thompson.jpg"alt="" width="200" height="400"> 
       <span><a href="https://en.wikipedia.org/wiki/Klay_Thompson">More Details About Klay Thompson</a></span> <a href="https://en.wikipedia.org/wiki/Klay_Thompson">More Details About Klay Thompson</a>
    </div>
    
    <div>
        <img src="/assets/images/download.jpg"alt="" width="200" height="400">
       <span><a href="https://en.wikipedia.org/wiki/20160212200956-golden-state-warriors-nba">Kevin Durant Slamming It Hard</a></span>  <a href="https://en.wikipedia.org/wiki/20160212200956-golden-state-warriors-nba">More Information About golden state worrois</a>
    </div>

    <div>
        <img src="/assets/images/slam.jpg"alt="Nba Basketball Player" width="200" height="400"> 
      <span><a href="https://en.wikipedia.org/wiki/Draymond_Green">More Details About Draymond Green</a></span>  <a href="https://en.wikipedia.org/wiki/Draymond_Green">More Details About Draymond Green</a>
    </div>
  </body>
  </html>